ul{
    list-style-type: none;
    background-color: aquamarine;
    overflow: hidden;
}
li{
    float: left;
}
li,a{
    padding: 15px;
    display: block;
    color: deeppink;
    font-size:20px ;
    font-family: aakar ;
}li a:hover{
    color: #649aea;
 }
 img{
     width: 50%;
 }
 .fruits{
     background-color: #e532ff;
     border: 2px dotted black;
     margin: 20px;
     padding: 20px;
     text-align: center;
     font-family: aakar;

 }
 .cars{
     background-color: indigo;
     border: 2px dotted black;
     margin: 20px;
     padding: 20px;
     text-align: center;
     font-family: aakar;

 }
 .Fruits{
     background-color: gold;
     border: 2px dotted black;
     margin: 20px;
     padding: 20px;
     text-align: center;
     font-family: aakar;
 }
 #gari{
     background-color: indigo;
     border: 10px solid #f68239;
     margin: 20px;
     padding: 20px;
     text-align: center;

 }
 #matunda{
     background-color: #00824c;
     border: 10px solid rgba(252, 20, 136, 0.91);
     margin: 20px;
     padding: 20px;
     text-align: center;
 }
 #Kahawa{
     background-color: #003482;
     border: 10px solid rgb(28, 82, 82);
     margin: 20px;
     padding: 20px;
     text-align: center;
 }

